
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 122px;
    width: 68px;
    transform: translate(-50%, -60%)
}

.bottom {
    position: fixed;
    left: 50%;
    bottom: 76px;
    height: 44px;
    width: 328px;
    transform: translate(-50%, -40%);
    margin: 0 auto;
}

@media screen and (max-width: 360px) {
 .bottom {
   position: fixed;
    left: 50%;
    bottom: 76px;
    height: 44px;
    width: 85%;
    transform: translate(-50%, -40%);
    margin: 0 auto;
}

}

.container_row{
    display: grid;
}

.layer1, .layer2{
    grid-column: 1;
    grid-row: 1;
}

.layer1 span{
}

.layer2{
}